/* Fonts */
body,
a {
    font-family: "Roboto", "sans-serif";
    font-style: normal !important;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "roboto slab", "Roboto", "sans-serif";
    font-style: normal !important;
}


/* Navbar and footer backgroud colour*/
header nav,
footer {
    background-color: #5C8001 !important;
}

/* Navbar styling */
.brand-logo {
    margin-left: 1rem;
    font-size: 3rem !important;
}

/* Footer positioning */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.easter-egg {
    color: #5C8001;
}

/* Footer styling */
.footer-links li {
    display: inline-block;
    padding: 0 1rem;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li:not(:last-child) {
    border-right: 1px solid #FFF;
    padding: 0 0.5rem;
}

.footer-menu li:last-child {
    padding: 0 0.5rem;
}

.footer-menu a,
.footer-links a {
    color: #fff;
    display: inherit;
}

.footer-menu a:hover,
.footer-links a:hover {
    transform: scale(1.2);
}



@media only screen and (max-width: 300px) {
    .brand-logo {
        font-size: 2rem !important;
        margin-left: .1rem;
    }
}