body {
    font-family: "Roboto", sans-serif;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: "Anton", "Roboto", sans-serif;
}

/* Footer positioning */
.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Footer styling */

.footer-links li {
    display: inline-block;
    padding: 0 1rem;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li:not(:last-child) {
    border-right: 1px solid #FFF;
    padding: 0 0.5rem;
}

.footer-menu li:last-child {
    padding: 0 0.5rem
}

.footer-menu a,
.footer-links a {
    color: #fff;
}