/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Fonts */
body,
a {
    font-family: "Roboto", "sans-serif";
    font-style: normal !important;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "roboto slab", "Roboto", "sans-serif";
    font-style: normal !important;
}

.red-text-eat {
    color: #BA1200;
}

/* Navbar and footer backgroud colour*/
header nav,
footer {
    background-color: #6A7A00 !important;
    color: #FFF;
}

/* Body background-color */
body {
    background-color: #E9FA9E;
    ;
}

/* Navbar styling */
.brand-logo {
    margin-left: 1rem;
    font-size: 3rem !important;
}

h5 {
    margin: 0;
    padding: 0;
}

button,
a {
    margin: 5px;
}

/* Flash notifications */
.flash-message {
    line-height: 3;
    background-color: #F4F6F6;
    color: #BA1200;
}

/* Recipe overview styling */
.search-div {
    margin: 20px 0px;
}

.row .col .card .card-content {
    padding: 12px;
}

.card-image {
    padding: 10px;
}

.card-action {
    padding: 10px !important;
}

.grey-card {
    background-color: #F4F6F6 !important;
}

/* Recipe card styling */
img {
    float: left;
    width: 100px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}

hr {
    color: #BA1200 !important;
    background-color: #BA1200 !important;
    height: 3px;
}

/* Tabs */
.tabs {
    overflow: hidden;
}

.tabs-red .tab a {
    color: rgba(186, 18, 0, 0.5);
}

.tabs-red .tab a:hover {
    font-weight: bold;
    color: #BA1200
}

.tabs-red .tab a:focus.active,
.tabs-red .tab a.active {
    color: #BA1200;
    font-weight: bold;
}

.tabs-red .indicator {
    background-color: #BA1200;
}

/* Buttons */
.btn-eat-green-sub {
    background-color: #6A7A00;
    color: #E9FA9E;
    font-weight: bold;
}

.btn-eat-green-sub:hover {
    background-color: #E9FA9E;
    color: #6A7A00;
}

.btn-spacing {
    margin-bottom: 20px;
}

.btn-eat-red {
    background-color: #BA1200;
    color: #F4F6F6;
}

.btn-eat-red:hover {
    background-color: #E9FA9E;
    color: #6A7A00;
}

.btn-eat-red-cuis {
    background-color: #BA1200;
    color: #F4F6F6;
}

.btn-eat-red-cuis:hover {
    background-color: #6A7A00;
    color: #E9FA9E;
}

.btn-eat-red-del {
    background-color: #BA1200;
    color: #F4F6F6;
    font-weight: bold;
}

.btn-eat-red-del:hover {
    background-color: #F3483F;
    color: #E9FA9E;
}

/* Input fields and icons */
.input-field .active {
    color: #BA1200 !important;
}

.fa-user-check,
.fa-user,
.fa-lock {
    color: #6A7A00;
}

/* Pagination */
main div .pagination ul li a {
    color: #BA1200;
}

main div .pagination ul .active {
    background-color: #6A7A00;
}

/* Footer positioning */
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

/* Footer styling */
.footer-links li {
    display: inline-block;
    padding: 0 1rem;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu li:not(:last-child) {
    border-right: 1px solid #FFF;
    padding: 0 0.5rem;
}

.footer-menu li:last-child {
    padding: 0 0.5rem;
}

.footer-menu a,
.footer-links a {
    color: #fff;
    display: inherit;
}

.footer-menu a:hover,
.footer-links a:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

footer div div div h5 {
    margin-top: 10px;
}

.easter-egg {
    color: #5C8001;
}

@media only screen and (max-width: 400px) {
    .btn-small {
        font-size: 0.8rem;
        ;
        margin: 0 !important;
        padding: 0.1rem;
    }
}

@media only screen and (max-width: 300px) {
    .brand-logo {
        font-size: 2rem !important;
        margin-left: .1rem;
    }
}