{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Manage Cuisines</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_cuisine') }}" class="btn-large">
            Add Cuisine
        </a>
    </div>
</div>

<div class="row">
    {% for cuisine in cuisines %}
        <div class="col s12 m6 l4 xl3">
            <div class="card medium center-align">
                <div class="card-image">
                    <img id="image" src="{{ cuisine.image }}" alt="recipe header image">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ cuisine.cuisine_type|capitalize }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_cuisine', cuisine_id=cuisine._id) }}" class="btn-small">Edit Cuisine</a>
                    <a href="{{ url_for('delete_cuisine', cuisine_id=cuisine._id) }}" class="btn-small">Delete Cuisine</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}