{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Cuisine</h3>

<div class="card">
    <form method="POST" action="{{ url_for('edit_cuisine', cuisine_id=cuisine._id) }}">
        <div class="row">
            <!-- URL of image -->
            <div class="input-field col s12">
                <input id="image" name="image" type="url" value="{{ cuisine.image }}" class="validate" required>
                <label for="image">Add image URL</label>
            </div>
            <!-- Cuisine Title -->
            <div class="input-field col s12 m4">
                <input id="cuisine_type" name="cuisine_type" minlength="3" maxlength="70" type="text"
                    pattern="^[A-Za-z0-9 ]*[A-Za-z0-9][A-Za-z0-9 ]*$" value="{{ cuisine.cuisine_type }}" class="validate" required>
                <label for="cuisine_type">Cuisine Name</label>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_cuisines') }}" class="btn-large">Cancel</a>
                    <button type="submit" class="btn-large">
                        Edit Cuisine
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}