{% extends "base.html" %}
{% block content %}

    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="post" class="col-12">
            <div class="valign-wrapper center-align">
                <div class="col s12 m8">
                    <input type="text" name="query" id="query" minlength="2" maxlength="140" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>

                <div class="col s6 m2">
                    <a href="{{ url_for('get_recipes') }}" class="btn-small">Reset</a>
                </div>
                <div class="col s6 m2">
                    <button type="submit" class="btn-small">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if recipes|length > 0 %}
        <div class="row">
            {% for recipe in recipes%}
                <div class="col s12 m6 l4 xl3">
                    <div class="card medium">
                        <div class="card-image">
                            <img src="{{ recipe.image }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ recipe.recipe_name }}</span>
                            <span>Servings: {{ recipe.servings }} person</span><br>
                            <span>Prep time: {{ recipe.prep_time }} min</span><br>
                            {% if (session.user == recipe.username|lower) or (session.user|lower == "admin") %}
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small">Delete Recipe</a>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit Recipe</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    {% else %}
        <h3 class="center-align">No Recipes Found</h3>
    {% endif %}

    <!-- Pagination links generated -->
    <div class="center-align">
        {{ pagination.links }}
    </div>

{% endblock %}