{% extends "base.html" %}
{% block content %}

    <div class="row card-panel grey-card search-div">
        <form action="{{ url_for('search') }}" method="post" class="col-12">
            <div class="valign-wrapper center-align">
                <div class="col s12 m8">
                    <input type="text" name="query" id="query" minlength="2" maxlength="140" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>

                <div class="col s6 m2">
                    <a href="{{ url_for('get_recipes') }}" class="btn-small btn-eat-red-del">Reset</a>
                </div>
                <div class="col s6 m2">
                    <button type="submit" class="btn-small btn-eat-green-sub">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if recipes|length > 0 %}
        <div class="row">
            {% for recipe in recipes %}
                <div class="col s12 m6 l4 xl3">
                    <div class="card medium grey-card">
                        <div class="card-image">
                            <a href="{{ url_for('recipe_info', recipe_id=recipe._id) }}">
                                <img src="{{ recipe.image }}">
                            </a>
                        </div>
                        <div class="card-content center-align">
                            <h5 class="header center-align">{{ recipe.recipe_name|capitalize }}</h5>
                            <h6 class="header center-align"> {{ recipe.cuisine_type|capitalize }}</h6>
                            <div class="card-action">
                                {% if (session.user == recipe.username|lower) or (session.user|lower == "admin") %}
                                <button data-target="{{ recipe._id }}" class="btn-small modal-trigger btn-eat-red-del"
                                    aria-label="delete recipe button">Delete
                                </button>
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small btn-eat-green-sub">Edit</a>
                                {% endif %}
                              </div>
                        </div>
                    </div>
                </div>
                <div id="{{ recipe._id }}" class="modal grey-card">

                    <div class="modal-content center-align">
                        <h4 class="red-text-eat">CONFIRM DELETION</h4>
                        <p class="red-text-eat">Are you sure you want to delete <span
                                class="special-text">{{ recipe.recipe_name }}</span> ?</p>
                    </div>
        
                    <div class="modal-footer grey-card">
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn modal-close button btn-eat-red-del" aria-label="confirm delete">
                            Delete
                        </a>
                        <a href="#!" class="btn modal-close btn-eat-green-sub" aria-label="cancel delete button">
                            Cancel
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    {% else %}
        <h3 class="center-align">No Recipes Found</h3>
    {% endif %}

    <!-- Pagination links generated -->
    <div class="center-align">
        {{ pagination.links }}
    </div>

{% endblock %}