{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m4 l3">
        {% for recipe in recipes%}
            <div class="card">
                <div class="card-image">
                    <img src="{{ recipe.image }}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ recipe.recipe_name }}</span>
                    <span>Servings: {{ recipe.servings }} person</span><br>
                    <span>Prep time: {{ recipe.prep_time }} min</span><br>
                    <a href="" class="btn-small">Edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}